<%= form_for course do |f| %>
  <% if course.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(course.errors.count, "error") %> prohibited this activity from being saved:</h2>
            <ul>
                <% course.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <br>
      <%= f.label :Department %><br>
      <%= f.text_field :department %>
      <br>
      <%= f.label :course_number %><br>
      <%= f.text_field :course_number %>
      <br>
      <%= f.label :Description %><br>
      <%= f.text_area :description %>
      <br>

      <fieldset>
        <legend>Instructor</legend>
        <%= f.fields_for :instructor do |instructor_fields| %>
          <%= instructor_fields.hidden_field :user_id, value: current_user.id %>
          <%= instructor_fields.label :first_name %><br>
          <%= instructor_fields.text_field :first_name %>
          <br>
          <%= instructor_fields.label :second_name, "Last Name" %><br>
          <%= instructor_fields.text_field :second_name %>
        <% end %>
      </fieldset>
    <br>
    <%= f.submit %>
<% end %>
<br>
<%= button_to "Delete Course", course, :method => :delete, if !!course.id && (current_user.try(:admin?) || current_user.id == course.user_id) %>
